<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188497319542-ig3frfsm12j8g47vcfemnmsp5veh7ifg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188497319542-ig3frfsm12j8g47vcfemnmsp5veh7ifg</string>
	<key>API_KEY</key>
	<string>AIzaSyA8D3y2c6pwgDb4LqrkUuJxFvVLseqIMmg</string>
	<key>GCM_SENDER_ID</key>
	<string>188497319542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.waysgroup.vrou</string>
	<key>PROJECT_ID</key>
	<string>vrou-17287</string>
	<key>STORAGE_BUCKET</key>
	<string>vrou-17287.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188497319542:ios:5423084160df5a1e78f157</string>
</dict>
</plist>