<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848990114158-hf0l7kvdr5aifj7as6jlaejebecapcip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848990114158-hf0l7kvdr5aifj7as6jlaejebecapcip</string>
	<key>API_KEY</key>
	<string>AIzaSyDCA9jG9tMx5xsNVAn4ZX7IC42tQp0gcQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>848990114158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.waysgroup.vrou</string>
	<key>PROJECT_ID</key>
	<string>vrou-860a6</string>
	<key>STORAGE_BUCKET</key>
	<string>vrou-860a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848990114158:ios:6c07440906215f3766f17f</string>
	<key>DATABASE_URL</key>
	<string>https://vrou-860a6.firebaseio.com</string>
</dict>
</plist>