<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1415196218649784</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.188497319542-ig3frfsm12j8g47vcfemnmsp5veh7ifg</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1415196218649784</string>
	<key>FacebookDisplayName</key>
	<string>Vrou</string>
	<key>FacebookClientToken</key>
	<string>b1dc0a83f328daa4a80d19cf7260c87a</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GIDClientID</key>
	<string>188497319542-ig3frfsm12j8g47vcfemnmsp5veh7ifg.apps.googleusercontent.com</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<string>YES</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Vrou needs to access your Camera to change your profile image</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>To get nearby salons &amp; offers for you</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>To get nearby salons &amp; offers for you</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>To get nearby salons &amp; offers for you</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Vrou needs to access your photos to select your profile image</string>
	<key>NSUserActivityTypes</key>
	<array/>
	<key>UIAppFonts</key>
	<array>
		<string>QuentellCFMedium-Medium.ttf</string>
		<string>JosefinSans-Bold.ttf</string>
		<string>JosefinSans-Light.ttf</string>
		<string>JosefinSans-Regular.ttf</string>
		<string>JosefinSans-SemiBold.ttf</string>
		<string>JosefinSans-Thin.ttf</string>
		<string>Tajawal-Bold.ttf</string>
		<string>Tajawal-Light.ttf</string>
		<string>Tajawal-Medium.ttf</string>
		<string>Tajawal-Regular.ttf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>places</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Places</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.Vrou.Places</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>offers-1</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Offers</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.Vrou.Offers</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>services-1</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Services</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.Vrou.Services</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>marketplace</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Marketplace</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.Vrou.Marketplace</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Master</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
